/* Fonts used in the web page */

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
html {
    height: 100%;
}

body {
    padding: 0;
    background: linear-gradient(orange, white, green);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    backdrop-filter: blur(75px);
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 800px;
    height: auto;
    border: none;
    border-radius: 10%;
}

.title {
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 65px;
}

.caption {
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 30px;
}

.image {
    background-image: url('/Images/gg_image.jpg');
    height: 350px;
    width: 450px;
    background-size: cover;
    margin: auto;
    border: 3px;
    border-style: ridge;
    border-radius: 40%
}

.quote {
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 30px;
}

.details {
    margin: auto;
}

.details-text-date {
    float: left;
    margin-left: 35px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 15px;
    color: #333436;
    backdrop-filter: blur(60%);
}

.details-text-info {
    float: right;
    margin-right: 35px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 15px;
    color: darkblue;
    backdrop-filter: blur(60%);
}

.last-quote {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin: 30px;
    color: navy;
}

.final-footer {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin: 30px;
    color: darkslategray;
}